volumes:
  snapserver-fifo:
  snapserver-state:
  mopidy-data:

services:
  snapclient:
    image: ghcr.io/mgoltzsche/snapcast-client:0.9.0
    environment:
      SNAPCLIENT_HOST: 127.0.0.1
    network_mode: host
    # Must be privileged when using alsa directly (e.g. on a raspberry pi)
    #privileged: true
    user: ${UID:-1000}:${UID:-1000}
    devices:
    - "/dev/snd:/dev/snd" # to access alsa device directly
    volumes:
    - type: bind
      source: /run # allow the container to detect whether the pulseaudio unix socket should be used
      target: /host/run
    - type: bind
      source: $HOME/.config/pulse # pass through pulseaudio authentication
      target: /home/snapclient/.config/pulse
    - type: bind
      source: /etc # allow the container to use host's /etc/asound.conf if present
      target: /host/etc
      read_only: true
    depends_on:
    - snapserver
    restart: unless-stopped
  snapserver:
    image: ghcr.io/mgoltzsche/snapcast-server:0.9.0
    environment:
      SNAPSERVER_SOURCE: pipe:///snapserver/snapfifo?name=Mopidy&mode=create
      SNAPSERVER_BUFFER_MS: "500"
      SNAPSERVER_INITIAL_VOLUME: "30"
      # Advertize service via avahi
      DBUS_SYSTEM_BUS_ADDRESS: unix:path=/host/run/dbus/system_bus_socket
    volumes:
    - snapserver-fifo:/snapserver
    - snapserver-state:/var/lib/snapserver
    - type: bind
      # allow the container to dynamically select the pulseaudio and dbus unix socket, if supported by the host
      source: /run
      target: /host/run
    network_mode: host
    #ports:
    #- "1780:1780"
    #- "1704:1704"
    #- "1705:1705"
    #user: ${UID:-1000}:${UID:-1000} # unprivileged user cannot advertize avahi service
    user: root:root
    privileged: true
    group_add:
    - 4242
    - 86
    restart: unless-stopped
  mopidy:
    image: ghcr.io/mgoltzsche/mopidy:dev
    environment:
      #MOPIDY_AUDIO_OUTPUT: 'audioresample ! audioconvert ! audio/x-raw,rate=48000,channels=2,format=S16LE ! tcpclientsink host=127.0.0.1 port=1709'
      MOPIDY_AUDIO_OUTPUT_PIPE: /snapserver/snapfifo
    network_mode: host
    #ports:
    #- "6680:6680"
    volumes:
    - snapserver-fifo:/snapserver
    - mopidy-data:/var/lib/mopidy
    restart: unless-stopped
    depends_on:
    - snapserver
