apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app.kubernetes.io/name: mopidy # kpt-set: ${name}
resources:
- persistentvolumeclaim.yaml
- serviceaccount.yaml
- service.yaml
- deployment.yaml
- ingress.yaml
- ingress-party.yaml
- ingress-alarmclock.yaml
- ingress-static.yaml

