apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app.kubernetes.io/name: mopidy # kpt-set: ${name}
resources:
- ../base
- https://github.com/mgoltzsche/snapcast-container.git/deploy/snapclient-ingress?ref=v0.4.0
- service.yaml
patchesStrategicMerge:
- deployment-patch.yaml
